.banner {
    height: 56vh;
    background-position: center;
}
.banner:before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}